@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($props) {
    -webkit-box-shadow: $props;
    -moz-box-shadow: $props;
    box-shadow: $props;
}

html {
    background: #ffffff;
}

body {
    max-width: 1100px;
}

//-------------------------------------------------
// Header
//-------------------------------------------------

.siteTitle {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
    z-index: 2;
    background: #ffffff;
    color: #444;
    border-bottom: 2px solid #222222;
    @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.25));
}

#logo {
    position: absolute;
    top: 2px;
    left: 0px;
}

#patron {
    float: right;
    position: absolute;
    top: 5px;
    right: 48px;
}

#github {
    float: right;
    position: absolute;
    top: 5px;
    right: 10px;
}

//-------------------------------------------------
// Article
//-------------------------------------------------
.content {
    margin-top: 42px;
    margin-left: 280px;
    min-width: 340px;
    padding: 15px 35px;

    .anchored {
        position: relative;
    }

    span.anchor {
        position: absolute;
        top: -50px;
    }

    .highlighted {
        background: #ffffd0;
    }
}

//-------------------------------------------------
// Sidebar
//-------------------------------------------------

.sidebar {
    position: fixed;
    width: 280px;
    top: 42px;
    bottom: 0px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f8f8f8;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border-right: 1px solid #e6e6e6;
    font-size: 82%;
}

.sidebar::-webkit-scrollbar, scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb, scrollbar-thumb {
    background: #80868b42;
    border-radius: 4px;
}

.sidebar {
    color: #505050;
    
    ul {
        line-height: 1.55em;
        overflow: hidden;
    }
    li.caret-down span::before {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);  
    }
    .nested {
        display: none;
        height: 0px;
    }
    .active {
        display: block;
        height: auto;
    }
    li.caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
        span {
            position: relative;
        }
    }
    li.caret span::before {
        content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEyIDEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPHBhdGggZD0ibTYgMSA1IDUtNSA1IiBmaWxsPSJub25lIiBzdHJva2U9IiM1NTU1NTUiIHN0cm9rZS13aWR0aD0iMS44Ii8+Cjwvc3ZnPgo=);
        position: absolute;
        left: -19px;
        top: 1px;
        transform-origin: 66% 42%;
        transition: transform 0.1s linear;  
    }
    li {
        padding-left: 1.7em;
        padding-right: 0.5em;
    }
    ul ul li {
        padding-left: 2.9em;
    }
    ul ul ul li {
        padding-left: 4.1em;
    }
    ul ul ul ul li {
        padding-left: 5.3em;
    }
    ul ul ul ul ul li {
        padding-left: 6.5em;
    }
    ul ul ul ul ul ul li {
        padding-left: 7.7em;
    }
    li.selectable:hover {
        background: #eeeeee;
    }
    li.selected, li.selected:hover {
        background: #e3e8f1;
    }
    a {
        color: inherit;
    }
    .inner {
        margin: 0.3em 0em;
    }
}

