@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($props) {
    -webkit-box-shadow: $props;
    -moz-box-shadow: $props;
    box-shadow: $props;
}

html {
    background: #ffffff;
}

body {
    max-width: 1100px;
}

//-------------------------------------------------
// Header
//-------------------------------------------------

.siteTitle {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
    z-index: 2;
    background: #ffffff;
    color: #444;
    border-bottom: 2px solid #222222;
    @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.25));

    span.downcaret {
        display: inline-block;
        position: relative;
        width: 19px;
        height: 11px;
        top: 1px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDQuMjMzMyAyLjY0NTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8cGF0aCBkPSJtMy43MDQyLjUyOTE3LTEuNTg3NSAxLjU4NzUtMS41ODc1LTEuNTg3NSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjYjNiM2IzIiBzdHJva2UtZGFzaG9mZnNldD0iMTUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIuMzk2ODgiLz4KPC9zdmc+Cg==);
    }

    .right {
        display: inline-block;
        position: absolute;        
        right: 0px;
        height: 100%;

        .button {
            display: inline-block;
            height: 100%;
            cursor: pointer;
            vertical-align: top;
        }

        #get-involved {
            padding: 0 8px;

            span.text {
                position: relative;
                top: 13px;
            }
        }

        #three-lines {
            padding: 0 8px;

            span {
                display: inline-block;
                position: relative;
                width: 30px;
                height: 30px;
                top: 5px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDcuOTM3NSA3LjkzNzUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogPHJlY3QgaWQ9InJlY3QxNDAyIiB4PSIxLjA1ODMiIHk9IjMuNDM5NiIgd2lkdGg9IjUuODIwOCIgaGVpZ2h0PSIxLjA1ODMiIHJ5PSIuNTI5MTciIGZpbGw9IiNiM2IzYjMiLz4KIDx1c2UgaWQ9InVzZTE0MDQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTIuMTE2NykiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHhsaW5rOmhyZWY9IiNyZWN0MTQwMiIvPgogPHVzZSB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDQuMjMzMykiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHhsaW5rOmhyZWY9IiN1c2UxNDA0Ii8+Cjwvc3ZnPgo=);
            }

            span.highlight {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDcuOTM3NSA3LjkzNzUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogPHJlY3Qgd2lkdGg9IjcuOTM3NSIgaGVpZ2h0PSI3LjkzNzUiIHJ5PSIxLjkxODIiIGZpbGw9IiNlNmU2ZTYiLz4KIDxyZWN0IGlkPSJyIiB4PSIxLjA1ODMiIHk9IjMuNDM5NiIgd2lkdGg9IjUuODIwOCIgaGVpZ2h0PSIxLjA1ODMiIHJ5PSIuNTI5MTciIGZpbGw9IiNiM2IzYjMiLz4KIDx1c2UgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMi4xMTY3KSIgeGxpbms6aHJlZj0iI3IiLz4KIDx1c2UgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAyLjExNjcpIiB4bGluazpocmVmPSIjciIvPgo8L3N2Zz4K);
            }
        }
    }

    #logo {
        position: absolute;
        top: 2px;
        left: 0px;
    }
}

//-------------------------------------------------
// Article
//-------------------------------------------------
.content {
    margin-top: 42px;
    margin-left: 0px;
    min-width: 340px;
    padding: 15px 20px;

    .anchored {
        position: relative;
    }

    span.anchor {
        position: absolute;
        top: -50px;
    }

    .highlighted {
        background: #ffffd0;
    }
}

//-------------------------------------------------
// Sidebar
//-------------------------------------------------

.sidebar {
    display: none;
    color: #505050;
    position: fixed;
    width: 280px;
    top: 42px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
    background: #f8f8f8;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border-right: 1px solid #e6e6e6;
    font-size: 82%;
    transform-origin: top right;
    
    ul {
        line-height: 1.55em;
        overflow: hidden;
    }
    li.caret-down span::before {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);  
    }
    .nested {
        display: none;
        height: 0px;
    }
    .active {
        display: block;
        height: auto;
    }
    li.caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
        span {
            position: relative;
        }
    }
    li.caret span::before {
        content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEyIDEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPHBhdGggZD0ibTYgMSA1IDUtNSA1IiBmaWxsPSJub25lIiBzdHJva2U9IiM1NTU1NTUiIHN0cm9rZS13aWR0aD0iMS44Ii8+Cjwvc3ZnPgo=);
        position: absolute;
        left: -19px;
        top: 1px;
        transform-origin: 66% 42%;
        transition: transform 0.1s linear;  
    }
    li {
        padding-left: 1.7em;
        padding-right: 0.5em;
    }
    ul ul li {
        padding-left: 2.9em;
    }
    ul ul ul li {
        padding-left: 4.1em;
    }
    ul ul ul ul li {
        padding-left: 5.3em;
    }
    ul ul ul ul ul li {
        padding-left: 6.5em;
    }
    ul ul ul ul ul ul li {
        padding-left: 7.7em;
    }
    li.selectable:hover {
        background: #eeeeee;
    }
    li.selected, li.selected:hover {
        background: #e3e8f1;
    }
    a {
        color: inherit;
    }
}

.get-involved-popup {
    transform-origin: top right;
    display: none;
    position: fixed;
    right: 0px;
    top: 35px;
    max-height: 600px;
    z-index: 3;
    background: #ffffff;
    border: 1px solid #999999;
    @include box-shadow(0 2px 14px 0 rgba(0, 0, 0, 0.25));
}

.scroller {
    overflow-x: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    transform-origin: top right;

    .inner {
        margin: 0.3em 0em;
    }
}

.scroller::-webkit-scrollbar, scrollbar {
    width: 8px;
}

.scroller::-webkit-scrollbar-thumb, scrollbar-thumb {
    background: #80868b42;
    border-radius: 4px;
}

.get-involved-popup.expanded {
    display: block;
    animation-name: menuAnimation;
    animation-duration: 0.15s;
    animation-timing-function: linear;
}
.get-involved-popup .expanded-content {
    animation-name: menuContentsAnimation;
    animation-duration: 0.15s;
    animation-timing-function: linear;
}


@media only screen and (min-width: 700px) {
    .sidebar {
        display: block;
        top: 42px;
        bottom: 0px;
    }
    .content {
        margin-left: 280px;
        padding: 15px 35px;
    }
    #get-involved {
        margin-right: 10px;
    }
    .siteTitle #three-lines {
        display: none;
    }
}

@media only screen and (max-width: 699px) {
    .sidebar {
        right: 0px;
        top: 35px;
        bottom: 25px;
        max-height: 600px;
        z-index: 3;
        background: #ffffff;
        border: 1px solid #999999;
        @include box-shadow(0 2px 14px 0 rgba(0, 0, 0, 0.25));
    }
    .sidebar.expanded {
        display: block;
        animation-name: menuAnimation;
        animation-duration: 0.15s;
        animation-timing-function: linear;
    }
    .sidebar .expanded-content {
        animation-name: menuContentsAnimation;
        animation-duration: 0.15s;
        animation-timing-function: linear;
    }
}
